.header-logado {
    padding: 1rem 3rem;
    background-color: var(--header-bg-color-0);
    min-width: 40rem;
    height: 3.5rem;
}

.header-logado button {
    background-color: var(--header-button-bg-color-0);
    border-radius: 0.8rem;
    white-space: nowrap;
    height: min-content;
    padding: .3rem 1.5rem;
}

.header-logado button:hover {
    background-color: var(--header-button-bg-color-hover-0);
}

.header-logado input {
    border-radius: 0.8rem;
}

.header-logado span {
    background-color: white !important;
}

.logado-img-pesquisar {
    width: 1.5rem;
}

.a-header-logado {
    width: 2rem;
}

.a-header-logado img {
    width: 100%;
}

.btn-home-logado {
    background-color: white !important;
    height: 2rem !important;
    width: 3rem;
    padding: 0 !important;
}

.input-home-logado {
    height: 2rem;
}